<%= simple_form_for @coordonnee, html: {class: "form-horizontal", multipart: true} do |f| %>
  <%= f.error_notification %>

  <%= f.input :libelle, autofocus: true %>
  <%= f.association :coord_category, label: "Type", collection: CoordCategory.asc(:name) %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.button :submit, "Enregistrer", class: "btn-primary" %>
    </div>
  </div>
<% end %>

<div class="clearfix">&nbsp;</div>

<div class="btn-group">
  <%= link_to 'Retour au document', @coordonnee, class: "btn btn-warning" unless @coordonnee.new_record? %>
  <%= link_to 'Retour à la liste', coordonnees_path, class: "btn btn-danger" %>
</div>
