<div class='row'>
  <div class='col-md-10'>
    <%= simple_form_for [:admin, coordonnee], html: { class: 'form-horizontal' },
                        wrapper: :horizontal_form,
                        wrapper_mappings: {
                          check_boxes: :horizontal_radio_and_checkboxes,
                          radio_buttons: :horizontal_radio_and_checkboxes,
                          file: :horizontal_file_input,
                          boolean: :horizontal_boolean } do |f| %>
      <%= f.error_notification %>

      <%= f.input :libelle, input_html: { autofocus: true } %>
      <%= f.input :content, as: :ckeditor %>
      <%= f.association :coord_category %>

      <div class='row'>
        <div class='col-md-offset-3 col-md-9'>
          <div class='btn-group'>
            <%= f.button :submit, class: 'btn-success' %>
            <%= link_to 'Retour à la liste', admin_coordonnees_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
