<h1><%= @page.name %></h1>

<% if @page.draft? %>
  <p class='text-warning'>Cette page n'a pas été publiée.</p>
<% end -%>

<%= simple_format @page.content %>

<div class='btn-group'>
  <%= link_to 'Modifier', edit_admin_page_path(@page),
              class: 'btn btn-warning' if policy(@page).update? %>
  <%= link_to 'Détruire', [:admin, @page], method: :delete,
               data: { confirm: 'Etes-vous sûr ?' },
               class: 'btn btn-danger' if policy(@page).destroy? %>
  <%= link_to 'Retour à la liste', admin_pages_path,
               class: 'btn btn-default' if policy(Page).index? %>
</div>
