<% form_title = "Nouvelle Catégorie" %>
<%= form_for [:admin, category], html: {role: "form", data: {title: form_title}, class: "form-inline"} do |f| %>
  <%= render "application/form_errors", model: category %>

  <div class="form-group">
    <%= f.label :name, "Nom", class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Libéllé", autofocus: true %>
  <div class="form-actions">
    <%= f.submit "Enregistrer", data: {disable_with: "Attendre..."}, class: "btn btn-success" %>
    <%= button_tag "Annuler", type: :submit, class: "btn btn-danger" %>
  </div>
<% end %>
