<%= simple_form_for @communication, html: {class: "form-horizontal", multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.input :fichier_url, as: :hidden %>
  <%= f.input :fichier_name, as: :hidden %>

  <%= f.input :titre, autofocus: true %>
  <%= f.input :publication, label: "Publié le", input_html: {type: "date"} %>
  <%= f.association :category, label: "Type", collection: Category.asc(:name) %>

  <div class="form-group communication_tags">
    <%= f.label :tags, "Mots clés", class: "control-label col-lg-2" %>
    <div class="col-lg-6">
      <%= f.hidden_field :tags,
        value: f.object.tags,
        data: {
          load: f.object.tags_array.map {|tag| {id: tag, text: tag}}.to_json,
          placeholder: "mots séparés par virgule",
          url: communication_tags_path(format: :json)
      } %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Fichier actuel</label>
    <div class="col-sm-10">
      <p class="form-control-static communication_fichier_name">
        <%= link_to f.object.fichier_name, f.object.fichier_url if f.object.fichier_url.present? %>
        <%= link_to "Effacer ce fichier", "#", class: "btn btn-danger btn-sm" %>
      </p>
    </div>
  </div>

  <%= f.input :published, as: :boolean, label: "Publié?" %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.button :submit, "Enregistrer", class: "btn-primary" %>
    </div>
  </div>
<% end %>

<%= s3_uploader_form id: "s3-uploader" do %>
  <%= label_tag :file, "Joindre un (nouveau) fichier" %>
  <%= file_field_tag :file %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<div class="clearfix">&nbsp;</div>

<div class="btn-group">
  <%= link_to 'Retour au document', @communication, class: "btn btn-warning" unless @communication.new_record? %>
  <%= link_to 'Retour à la liste', communications_path, class: "btn btn-danger" %>
</div>
