<%= simple_form_for @communication, html: {class: "form-horizontal", multipart: true} do |f| %>
  <%= f.error_notification %>

  <%= f.input :titre, autofocus: true %>
  <%= f.input :publication, label: "Publié le", input_html: {type: "date"} %>
  <%= f.association :category, label: "Type", collection: Category.asc(:name) %>

  <div class="form-group communication_tags">
    <%= f.label :tags, "Mots clés", class: "control-label col-lg-2" %>
    <div class="col-lg-6">
      <%= f.hidden_field :tags,
        value: f.object.tags,
        data: {
          load: f.object.tags_array.map {|tag| {id: tag, text: tag}}.to_json,
          placeholder: "mots séparés par virgule",
          url: communication_tags_path(format: :json)
      } %>
    </div>
  </div>

  <% if f.object.fichier? %>
    <div class="form-group communication_fichier">
      <%= f.label :fichier, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p class="form-control-static"><%= link_to f.object.fichier.identifier, f.object.fichier.url %></p>
      </div>
    </div>

    <%= f.input :fichier, as: :file, label: "Changer le fichier" %>
    <%= f.input :fichier_cache, as: :hidden %>
    <%= f.input :remove_fichier, as: :boolean, inline_label: "Effacer le fichier ?", label: false %>
  <% else %>
    <%= f.input :fichier, as: :file %>
  <% end -%>

  <%= f.input :published, as: :boolean, label: "Publié?" %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.button :submit, "Enregistrer", class: "btn-primary" %>

      <%= link_to 'Retour au document', @communication, class: "btn btn-warning" unless f.object.new_record? %>
      <%= link_to 'Retour à la liste', communications_path, class: "btn btn-danger" %>
    </div>
  </div>

<% end %>
