<h1>Liste documents</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Publié le</th>
      <th>Mots clés</th>
      <th>Fichier</th>
      <% if current_user.admin? %>
      <th>&nbsp;</th>
      <% end -%>
    </tr>
  </thead>

  <tbody>
    <% @communications.each do |communication| %>
      <tr>
        <td><%= communication.titre %></td>
        <td><%= communication.publication %></td>
        <td><%= communication.tags %></td>
        <td><%= link_to communictation.fichier_file_name, communication.fichier.url(download: true) if communication.fichier.present? %></td>
        <% if current_user.admin? %>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_communication_path(communication), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Destroy', communication, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </div>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nouveau document', new_communication_path, class: "btn btn-primary" if current_user.admin? %>
