<% form_title = "Nouvelle Catégorie" %>
<%= simple_form_for category, html: {role: "form", data: {title: form_title}} do |f| %>
  <%= f.error_notification if f.error_notification %>
  <%= f.input :name, autofocus: true %>
  <div class="form-actions">
    <%= f.button :submit, data: {disable_with: "Attendre..."}, class: "btn-success" %>
    <%= button_tag "Annuler", type: :submit, class: "btn btn-danger" %>
  </div>
<% end %>
