<div class='row'>
  <div class='col-md-10'>
    <%= simple_form_for [:admin, user], html: { class: 'form-horizontal', role: 'form' },
                            wrapper: :horizontal_form,
                            wrapper_mappings: {
                              check_boxes: :horizontal_radio_and_checkboxes,
                              radio_buttons: :horizontal_radio_and_checkboxes,
                              file: :horizontal_file_input,
                              boolean: :horizontal_boolean } do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, input_html: { autofocus: true } %>
      <%= f.input :password, input_html: { autocomplete: 'off' } %>
      <%= f.input :password_confirmation, input_html: { autocomplete: 'off' } %>

      <% unless f.object.new_record? %>
        <%= f.input :current_password, as: :password %>
      <% end %>

      <div class='form-group'>
        <div class='col-sm-offset-3 col-sm-9'>
        <%= f.button :submit, class: 'btn-success' %>
        <%= link_to 'Retour à la liste', admin_users_path, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
