<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-doccap-collapse">
        <%= content_tag :span, "Menu", class: "sr-only" %>
        <% 3.times do %>
          <%= content_tag :span, nil, class: "icon-bar" %>
        <% end %>
      </button>
      <% end %>
      <%= link_to "Doccap", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-doccap-collapse">
      <% if current_user %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Recherche documents", "/biblio" %></li>
        <li><%= link_to "Coordonnées utiles", "/coord" %></li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/intranet">Intranet</a></li>
      </ul>
    </div>
  </div>
</nav>
